@import "reset";
@import "vars";
@import "base";
@import "media-queries";
@import "classes";

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem;
  @include xs {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
