.todoElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--hr-color);
  &-title {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      text-decoration: line-through;
      transform: scale(1.1);
    }
  }

  &-action {
    &-link {
      margin-left: 2rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: var(--primary);
      }
    }
  }
}
